@{
    ViewData["Title"] = "Home Page";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

<style>
    table, tr, th {
        border: 2px solid black;
        border-collapse: collapse;
    }

    table {
        text-align: center;
        border: width 5px;
    }

    body {
        background-color: black;
        color: white
    }
</style>

</head>

<body>
    <div class="text-center">
        <h1 style="color:purple"><b>Retro Gaming</b></h1>

        <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse4.mm.bing.net%2Fth%3Fid%3DOIP.sQG0Uh7J_h086Rf4h0JlowHaFj%26pid%3DApi&f=1&ipt=c6fc59c7adae0d50807d84ed1b27a0fd5045a4c86ba62d07635691cb7a4a366b&ipo=images"
             width="640"
             height="360"/>

        <p>Learn about <a href="https://retro.gaming.com/">Retro Gaming</a>.</p>

    </div>

    <div style="margin-top: 100px;">
        <h2><b>Table Of Contents</b></h2>
    </div>


    <ul>
    <ol>
            <a href="#ps1">
            <li>PlayStation 1</li></a>
            <a href="#ps2">
            <li>PlayStation 2</li></a>
            <a href="#n64">
            <li>Nintendo 64</li></a>
            <a href="#snes">
            <li>Super Nintendo</li></a>
            <a href="#segaMD">
            <li>Sega Mega Drive</li></a>
            <a href="#segaMS2">
            <li>Sega Master System 2</li></a>
            <a href="#segaDC">
            <li>Sega Dreamcast</li></a>
            <a href="#favgames">
            <li>Favourite Retro Games</li></a>   
    </ul>
    </ol>

    <div style="margin-top: 200px;">
        <p><b>PlayStation 1</b></p>
        <p><b>PlayStation 1 Video game console was released in 1994 by Sony Computer Entertainment.
              It was the first of a new generation of 32-bit consoles, PlayStation used compact discs
              (CDs), heralding the video game industrys move away from cartridges. It has a library
              of 1749 PAL released games. PlayStation 1 sold 102.49 million consoles world wide.
        </b></p>
        <img id="ps1" src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fi.ytimg.com%2Fvi%2Fb8Cy5r1-aUw%2Fmaxresdefault.jpg&f=1&nofb=1&ipt=e9857bb05f9271cdd66ffce0fdb29cf4cf68ba1fc98bd0d02921f3e56d3a7eff&ipo=images"
             width="640"
             height="360">
    </div>

    <div style="margin-top: 200px;">
        <p><b>PlayStation 2</b></p>
        <p><b>PlayStation 2 Video game console was released in 2000 by Sony Computer Entertainment.
              It has a library of over 1,850 games. The PlayStation 2s main central processing unit
              (CPU) is the 128-bit R5900-based "Emotion Engine", custom-designed by Sony and Toshiba.
              PlayStation 2 sold 159 million consoles world wide.
        </b></p>
        <img id="ps2" src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse2.mm.bing.net%2Fth%3Fid%3DOIP.KyZJ3OkbVW7H_9QoymzmCAHaEK%26pid%3DApi&f=1&ipt=0f48145fb6cf8442c6898bcd63d96fd9cd9b61ea6aae5ce1a1386b5e461fd28b&ipo=images"
             width="640"
             height="360">
    </div>

    <div style="margin-top: 200px;">
        <p><b>Nintendo 64</b></p>
        <p><b>Nintendo 64 is the successor to Super Nintendo Entertainment System, it was released in 1996
              it was the last major console to use cartridges as its primary storage format until the
              Nintendo Switch in 2017. It has a library of 388 games, it also had a feature installed for playing
              4 players as it had four controller ports. It sold 32.93 million consoles world wide.
        </b></p>
        <img id="n64" src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse3.mm.bing.net%2Fth%3Fid%3DOIP.jPDzzwGt4iErG99B_e90wQHaEJ%26pid%3DApi&f=1&ipt=1d7e466ee0b4d3b344e8486b44034cd578f0808a9bcd308c696c7ef579f4c42b&ipo=images"
             width="640"
             height="360">

    </div>

    <div style="margin-top: 200px;">
        <p><b>Super Nintendo</b></p>
        <p><b>Super Nintendo Entertainment System (SNES), commonly shortened to Super NES or Super Nintendo,
              is a 16-bit home video game console developed by Nintendo that released in 1990 in Japan. It sold
              49.10 million consoles world wide, and had a library of 522 games in Europe total game including Japan
              and North America were 1757.
        </b></p>
        <img id="snes" src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse2.mm.bing.net%2Fth%3Fid%3DOIP.5twVb7N4Ax06NqzSBRHYpQHaEo%26pid%3DApi&f=1&ipt=4163892031c93d79d4d31eda8c44f3ea25c75c1d192a01b390cff7404c67190f&ipo=images"
             width="640"
             height="360">

    </div>

    <div style="margin-top: 200px;">
        <p><b>Sega Mega Drive</b></p>
        <p><b>Sega Mega Drive was released in 1988, North America was known as Sega Genesis, it is a 16-bit fourth
              generation home video game console developed by Sega. It has sold 30.75 million consoles world wide
              and has a game library of over 900 games, the games were also cartridges.
        </b></p>
        <img id="segaMD" src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse2.mm.bing.net%2Fth%3Fid%3DOIP.dbWeOPJgIcnhmfmh4lScGwHaEK%26pid%3DApi&f=1&ipt=a30e8141827bcb3fbbab347467429bd603809e00ed599cad223a09a0aeab993b&ipo=images"
             width="640"
             height="360">

    </div>

    <div style="margin-top: 200px;">
        <p><b>Sega Master System 2</b></p>
        <p><b>Sega Master System 2 was an 8-bit cartridge third generation home video game console manufactured by Sega. It
              was released in 1985, and featured enhanced graphical capabilities over its predecessors. Sega Master
              System had sold 13 million consoles world wide with a game library of 312. It also featured Iconic
              Sonic the Hedgehog or Alex Kid in Mericle World built in the the purchase of the console.
        </b></p>
        <img id="segaMS2" src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse2.mm.bing.net%2Fth%3Fid%3DOIP.NuKArZwCFmAbtKz_WxN3yQHaEz%26pid%3DApi&f=1&ipt=bb9e310f404ed311d60e9e8c01fc897fb6b9eadf1390fc218fe2b62b0aea7643&ipo=images"
             width="640"
             height="360">

    </div>

    <div style="margin-top: 200px;">
        <p><b>Sega Dreamcast</b></p>
        <p><b>Sega Dreamcast is a home video game console released by Sega in 1998. It was the first sixth-generation video
              game console, preceding Sonys PlayStation 2, Nintendo GameCube, and Microsofts Xbox. It featured 128-bit
              architecture that gives it far more power than current platforms. It used GD-ROM or giga disk read-only memory.
              It had sold 9.13 million consoles world wide, with a gaming library of 624 games. Unfortunately in its attempt
              to compete with Sony caused the console to be sold at a significant loss. Sega could not afford these losses,
              as their poor sales in Japan added very little to their revenue stream.
        </b></p>
        <img id="segaDC" src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse2.mm.bing.net%2Fth%3Fid%3DOIP.IYtK6IDtRIODKErVS5p2aAHaEK%26pid%3DApi&f=1&ipt=aa629146718ba9b2d8767851bded2d4c2b9b650ec5df838d7c8e6621ad0f1200&ipo=images"
             width="640"
             height="360">

    </div>

    <div style="margin-top: 200px;">
        <p><b>Favourite Retro Games</b></p>
        <p><b>This is a list of my all-time favourite retro games that I grew up with playing on home consoles, some of them
              a worth alot of money now-days as they are sort after. Most of games displayed are generally JRPGs or Japanese
              Role Playing Games, and Adventure games as thats my go to for gaming.
        </b></p>


        <table style="width:75%">
            <tr>
                <th>Breath of Fire III (1997) PlayStation 1</th>
                <th>Wonder Boy III: Dragons Trap (1989) SegaMS</th>
                <th>Phantasy Star IV (1993) SegaMD</th>
            </tr>
            <tr>
                <td>
                    <img id="favgames" src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse1.mm.bing.net%2Fth%3Fid%3DOIP.Xn0CJ0ENeSW03mzuwvfOPwHaEK%26pid%3DApi&f=1&ipt=fc3e05dde24734f1fb7af47bd3e3307435237696ee831234f8c13649f5106ce9&ipo=images"
                         width="300"
                         height="300">
                </td>
                <td>
                    <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse1.explicit.bing.net%2Fth%3Fid%3DOIP.vw0J-yluQwesDHBn8z5wdwHaEK%26pid%3DApi&f=1&ipt=020c3fb9fc6bdde32ba227922d13723a3d2131f779104e14bc1ae08ff159b6cd&ipo=images"
                         width="300"
                         height="300">
                </td>
                <td>
                    <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse2.mm.bing.net%2Fth%3Fid%3DOIP.kZhQtFGMrY1UOltEtgA_fwAAAA%26pid%3DApi&f=1&ipt=9a56f76dcd76e3a8746766039904fa859e18632a4195811eec4e5cfe1ce2d899&ipo=images"
                         width="300"
                         height="300">
                </td>
            </tr>
            <tr>
                <th>Zelda: Ocarina of Time (1998) N64</th>
                <th>Sailor Moon: Another Story (1995) SNES</th>
                <th>Grandia II (2000) Sega Dreamcast</th>
            </tr>
            <tr>
                <td>
                    <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse2.mm.bing.net%2Fth%3Fid%3DOIP.OGcqiGRRR_mDjEuT9By0owHaEK%26pid%3DApi&f=1&ipt=41a8fefb411af2a32a2c637108dd5a41f3d41c2899594dbdc77c27502d47755a&ipo=images"
                         width="300"
                         height="300">
                </td>
                <td>
                    <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse3.mm.bing.net%2Fth%3Fid%3DOIP.J2PVptyTuIBOMds_QRmLHwHaFc%26pid%3DApi&f=1&ipt=413c3e2594d5c9c367550171f06db0294c6ef9fedeeeb8fdab550e296f4b8ae7&ipo=images"
                         width="300"
                         height="300">
                </td>
                <td>
                    <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse2.mm.bing.net%2Fth%3Fid%3DOIP.gr7QWio1dljVxfeV1iTwlwHaDr%26pid%3DApi&f=1&ipt=55c9dd4e86adf9b62ca1bde524d8a7a29e9f2bc451117a368b0005e4c9b44887&ipo=images"
                         width="300"
                         height="300">
                </td>
            </tr>
            <tr>
                <th>Star Ocean: Till End of Time (2003) PS2</th>
                <th>Chrono Trigger (1995) SNES</th>
                <th>Valkyrie Profile (1999 PlayStation 1)</th>
            </tr>
            <tr>
                <td>
                    <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse3.mm.bing.net%2Fth%3Fid%3DOIP.d15465YQgklH4qG6hPRYgwHaJ3%26pid%3DApi&f=1&ipt=bc7afa65a05f3c9ed4a05b5c7bbcc2e06d5c6db280125fff5443ed2dc405cc62&ipo=images"
                         width="300"
                         height="300">
                </td>
                <td>
                    <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse4.mm.bing.net%2Fth%3Fid%3DOIP.0g0HAEjgh0jgZfthPSGvhAHaEo%26pid%3DApi&f=1&ipt=94672617c51007c37c23d168edf48f23c9b7c342d133a40e5a78abbc683dc885&ipo=images"
                         width="300"
                         height="300">
                </td>
                <td>
                    <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse3.mm.bing.net%2Fth%3Fid%3DOIP.TlWaP8turO3bczWPZykfngHaHG%26pid%3DApi&f=1&ipt=2e0829595641f9bbb92dfe8514ccfddac402c97da8591186a5ff0835724ea495&ipo=images"
                         width="300"
                         height="300">
                </td>
            </tr>
        </table>
    </div>
</body>
</html>
